@font-face {
  font-family: "Tilda Script";
  src: url("./assets/fonts/TildaScript-Regular.eot"); /* IE9*/
  src: url("./assets/fonts/TildaScript-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/TildaScript-Regular.woff2")
      format("woff2"),
    /* chrome、firefox */ url("./assets/fonts/TildaScript-Regular.woff")
      format("woff"),
    /* chrome、firefox */ url("./assets/fonts/TildaScript-Regular.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("./assets/fonts/TildaScript-Regular.svg#Comic Sans MS") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "Worldwide";
  src: url("./assets/fonts/Worldwide.ttf") format("truetype");
}

@font-face {
  font-family: "WorldwideItalic";
  src: url("./assets/fonts/Worldwide\ Italic.ttf") format("truetype");
}

@font-face {
  font-family: "AustinaAlma";
  src: url("./assets/fonts/Austina\ Alma.otf")
      format("oft"),
    /* IE6-IE8 */ url("./assets/fonts/Austina\ Alma.ttf")
      format("truetype")
}

body {
  height: 70em;
  background: rgb(148, 228, 252);
  background: linear-gradient(
    180deg,
    rgba(148, 228, 252, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
